@import './fonts';
@import './color';
@import './spacing';

.car_tile {
    display: grid;
    align-items: start;
    grid-template-rows: 0.5fr 1fr 5fr 1fr;
    width: 25vw;
    margin-top: $standard-gap;
    margin-right: $standard-gap;
}

.car_tile > p {
    @include generictext;
}

.car_tile__modelname {
    @include modelname;
}

.car_tile__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 $standard-gap;
    justify-items: center;
}

.car_tile > img {
    width: 25vw;
    margin-bottom: $standard-gap;
}

@media (max-width: 768px) {
    .car_tile {
       display: grid;
       grid-template-rows: 0.3fr 1fr 5fr 1fr;
       width: 70vw;
    }

    .car_tile > img {
        width: 60vw;
        margin-bottom: 0;
    }

    .car_tile__modelname::after {
        @include modelname_mobile;
    }

    .car_tile__links {
        margin-top: $standard-gap;
    }
}

@media (max-width: 425px) {
    .car_tile {
        display: grid;
        align-items: start;
        grid-template-rows: 0.125fr 0.35fr 1.1fr 1fr;
    }

    .car_tile__links {
        margin-top: 0;
        padding: 0;
        justify-content: space-evenly;
    }
}