@import './fonts';
@import './spacing';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font;
}

main {
  height: 100vh;
  width: 85vw;
  margin: auto;
}

@media (max-width: 768px) {
  main {
    width: 95vw;
  }
}

a {
  @include anchortag;
}

a:hover {
  font-weight: 600;
}

button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 $small-gap;
  margin-right: $standard-gap;
  margin-bottom: $small-gap;
  padding: 0 0.5rem;
  color: black;
  font-size: 1rem;
}