@import './spacing';

.cars {
    display: grid;
}

.cars__filters {
    height: 10vh;
}

.cars__filters > div {
    display: flex;
}

.cars__container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.cars__chevrons {
    display: flex;
    justify-content: flex-end;
}

.cars__chevrons > img {
    height: 2rem;
}

.cars__chevrons > img:first-child {
    margin-right: 0.5rem;
}

.chevron {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .cars__container {
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        height: 80vh;
    }

    // .cars__chevrons {
    //     display: none;
    // }
}