.cars {
    display: grid;
}

.cars__container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.cars__chevrons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 90%;
}

.chevron {
    transform: rotate(180deg);
}