@import './spacing';
@import './color';

.cars {
    display: grid;
}

.cars__filters {
    height: 15vh;
    padding-top: $standard-gap;
}

.greybtn {
    color: $grey;
    border: 1px solid $grey;
}

.greybtn:hover {
    color: black;
    border: 1px solid black;
    font-weight: 400;
}

.cars__filters > div {
    display: flex;
}

.cars__filters > div > button {
    text-transform: capitalize;
}

.cars__filters > div > button:hover {
   font-weight: 500;
}

.cars__container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.cars__chevrons {
    display: flex;
    justify-content: flex-end;
}

.cars__chevrons > img {
    height: 2rem;
}

.cars__chevrons > img:first-child {
    margin-right: 0.5rem;
}

.chevron {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .cars__container {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        height: 80vh;
    }
}